spring:
  application:
    name: kotlin-e-commerce
  profiles:
    active: dev
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
  jackson:
    serialization:
      fail-on-empty-beans: false

jwt:
  secret: mySecretKeyForJwtTokenGenerationAndValidationPleaseChangeThisInProduction
  expiration: 86400000 # 24 hours in milliseconds

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: alpha
    tags-sorter: alpha
  api-docs:
    path: /v3/api-docs
